body{
    margin:0;
    background:#FFF0C9;
    font-family:'Comic Sans MS','Trebuchet MS',sans-serif;
}

.logo{
    display:block;
    margin:10px auto;
    width:380px;
    transform:rotate(20deg);
}



.nav-top{
    margin:20px 0 40px;
}

.nav-top ul{
    display:flex;
    justify-content:center;
    gap:30px;
    list-style:none;
    padding:0;
}

.nav-top a{
    text-decoration:none;
    background:#ff6167;
    color:white;
    padding:14px 30px;
    border-radius:12px;
    font-weight:bold;
    font-size:20px;
}

.nav-top a:hover{
    background:#ff4f5c;
}


main{
    max-width:1400px;
    margin:40px auto;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:70px;
}

section{
    position:relative;
    width:650px;
}

table{
    width:100%;
    border:4px solid #ff6167;
    border-radius:25px;
    background:#fff8e6;
    padding:25px;
    border-collapse:collapse;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

caption{
    font-size:30px;
    font-weight:bold;
    margin-bottom:20px;
    color:#333;
}

thead th{
    background:#ff6167;
    color:white;
    padding:15px;
}

tbody td{
    padding:15px;
    border-bottom:1px solid #f5d9a8;
    text-align:center;
}

tbody tr:nth-child(even){
    background:#ffe9c2;
}

tbody img{
    width:80px;
    height:80px;
    border-radius:12px;
    object-fit:cover;
}


.estrela-topo{
    position:absolute;
    width:80px;
    top:-20px;
    left:-35px;
}

.estrela-baixo{
    position:absolute;
    width:70px;
    right:-25px;
    bottom:-25px;
}


.alcremie{
    width:590px;
}


.section-two{
    display:flex;
    justify-content:center;
    align-items:center;

    max-width:1400px;
    width:100%;

    margin:80px auto;
    padding:0 40px;
    gap:60px;

    box-sizing:border-box;
}

.alcremie-amarelo{
    width:380px;
    height:auto;
    flex:0 0 380px;
}

.container{
    flex:1;
    max-width:750px;
    min-width:500px;

    background:#fff8e6;

    border:4px solid #ff6167;
    border-radius:30px;

    padding:40px;

    box-sizing:border-box;

    box-shadow:0 10px 25px rgba(255,97,103,.25);
}

.container h2{
    margin:0 0 20px;
    color:#ff6167;
    font-size:34px;
    text-align:center;
}

.container p{
    color:#ac3e41;
    margin:0;
    font-size:20px;
    line-height:1.7;
    text-align:justify;
}

footer.container{
    color:#ac3e41;
    max-width:1400px;
    margin:0 auto;
    padding:0 40px;
    box-sizing:border-box;
}
footer{
    background: #ff6167;
    text-align:left;
    margin:80px 0 0;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 60px;
}